<html>
  <meta charset="UTF-8" />
  <body>
    <h1>Procesando autenticación con Spotify...</h1>

    <script type="module">
      const code = new URLSearchParams(window.location.search).get("code");

      if (code) {
        const url = `/api/callback?code=${encodeURIComponent(code)}`;
        await fetch(url)
          .then((res) => res.json())
          .then((data) => {
            console.log("Token recibido:", data);

            const token = data.access_token;
            const expiresIn = data.expires_in || 3600; // segundos (1h por defecto)
            const expireDate = new Date(Date.now() + expiresIn * 1000).toUTCString();
            document.cookie = `access_token=${token}; expires=${expireDate}; path=/`;
            
            window.location.href = "/";
          })
          .catch((err) => {
            alert("Error al obtener token de Spotify.");
            window.location.href = "/";
          });
      } else {
        alert("No se pudo obtener el code de la autenticación con Spotify.");
        window.location.href = "/";
      }
    </script>
  </body>
</html>
