<html>
  <meta charset="UTF-8" />
  <head>
    <style>
      body {
        font-family: system-ui, -apple-system, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        background: #1DB954;
        color: white;
      }

      .container {
        text-align: center;
        padding: 2rem;
      }

      .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        margin: 2rem 0;
      }

      @keyframes rotation {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Procesando autenticación con Spotify...</h1>
      <div class="loader"></div>
    </div>

    <script>
      import { encrypt, decrypt } from "../lib/crypto.js";

      const code = new URLSearchParams(window.location.search).get("code");

      async function run() {
        if (!code) {
          alert("No se pudo obtener el code de la autenticación con Spotify.");
          window.location.href = "/";
          return;
        }

        const url = `/api/callback?code=${encodeURIComponent(code)}`;
        const passwd = import.meta.env.PUBLIC_CRYPT_PSSWD;

        try {
          const res = await fetch(url);
          const data = await res.json();

          const token = data.access_token;
          const expiresIn = data.expires_in || 3600;
          const expireDate = new Date(
            Date.now() + expiresIn * 1000
          ).toUTCString();

          // console.log("Obteniendo token de Spotify...");
          // console.log("Token:", data);

          //console.log("Encriptando token:");
          const encrypted = await encrypt(token, passwd);
          const encryptedStr = encodeURIComponent(JSON.stringify(encrypted));

          //console.log("🔐 Token encriptado:", encryptedToken.ciphertext);

          //console.log("Desencriptando token...");
          //const decryptedToken = await decrypt(encryptedToken, passwd);
          //console.log("🔓 Token desencriptado:", decryptedToken);

          // Guardar en cookie
          document.cookie =  `access_token=${token}; expires=${expireDate}; path=/`;

          // Redirigir
          window.location.href = "/";
        } catch (err) {
          console.error("❌ Error al obtener token de Spotify", err);
          alert("Error al obtener token de Spotify.");
          window.location.href = "/";
        }
      }

      run();
    </script>
  </body>
</html>