---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

interface Props {
  content: {
    title: string;
  };
}

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <main class="grow">
        <NavBar />
        <slot />
      </main>
      <Footer />
    </div>
    <Analytics />
    <SpeedInsights />
    <script>
      import { getCookieValue, saveCookie, deleteCookie } from "../utils/utils";

      document.addEventListener("DOMContentLoaded", () => {
        loadProfile();

      });
      
      async function loadProfile() {
        const avatar = document.getElementById("avatar") as HTMLImageElement;
        let profile = null;
        var cookieheader = document.cookie;
        const cookieDisplayName = getCookieValue(cookieheader, "display_name");
        const cookieAvatar = getCookieValue(cookieheader, "avatar");

        if (cookieDisplayName && cookieAvatar) {
          console.log("Using profile from cookies");

          avatar.src = cookieAvatar;
        } else {
          try {
            const res = await fetch("/api/spotify/profile");
            profile = await res.json();
          } catch {
            profile = null;
          }
          console.log("Profile in layout:", profile);
        }

        // If profile is not null, save display_name and avatar to cookies
        if (profile !== null) {
          saveCookie("display_name", profile.display_name, 3600);
          saveCookie("avatar", profile.images?.[0]?.url || "", 3600);

          avatar.src = profile.images?.[0]?.url || "";
        }
      }

    </script>
  </body>
</html>
